.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.production
.env.development
.vercel
.output
.env.development
.env.production
.vercel_build_output
testnet-account.pkey
mainnet-account.pkey