/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import "@picocss/pico";

:root {
  --green: #00cf00;
}

/* Make copy&paste text seclection visible */
::selection {
  background: var(--secondary-focus);
}

/* add line breaks to event description */
blockquote {
  white-space: pre-line;
}

img,
image {
  border-radius: 4px;
}

/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  color-scheme: inherit;
  --primary: #35d9ba;
  --primary-hover: #248f7a;
  --primary-focus: transparent;
  --primary-inverse: #fff;
}

/* Green Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    color-scheme: inherit;
    --primary: #38e8c6;
    --primary-hover: #12bf9d;
    --primary-focus: transparent;
    --primary-inverse: #111;
  }
}

/* Green Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  color-scheme: inherit;
  --primary: #38e8c6;
  --primary-hover: #12bf9d;
  --primary-focus: transparent;
  --primary-inverse: #111;
}

/* Green (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-bottom: 80px;
}

footer {
  flex-shrink: 0;
}

article {
  margin: 20px 0;
  /* padding-bottom: 80px;
  padding-top: 80px; */
}

article header {
  margin-bottom: 30px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-weight: bold;
  margin-bottom: 0;
}

hr {
  margin-bottom: var(--spacing);
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

.d-flex {
  display: flex;
  justify-items: center;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.flex-wrap.center {
  justify-content: center;
}
.flex-wrap.between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-gap {
  gap: 1rem;
}

.flex-none {
  flex: none;
}

.flex-auto {
  flex: 1 1 auto;
}

.highlight {
  color: var(--primary);
}

.panel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  padding: 0;
  margin: 0.8rem auto;
  width: 100%;
}

.panel.ready {
  border: 1px dotted var(--primary);
}

.panel.done {
  border: 1px solid var(--secondary);
  opacity: 0.2;
}

.panel .panel-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: var(--primary);
  border-radius: var(--border-radius);
}
.panel > :not(.panel-bg) {
  z-index: 10;
}

.panel .panel-start {
  padding: 0.8rem;
}

.panel .panel-start .icon {
  color: currentColor;
  fill: currentColor;
  width: 2rem;
  height: 2rem;
}

.panel .panel-tag {
  display: inline-block;
  text-align: center;
  font-size: small;
  padding: 0rem 0.4rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 10rem;
}

.panel-bottom {
  padding-bottom: 0.4rem;
}

.input-button-group {
  display: flex;
}

.input-button-group button {
  display: inline-block;
  flex-shrink: 1;
  width: auto;
  min-width: 150px;
}

.input-button-group input,
.input-button-group select {
  flex-grow: 1;
  width: 100%;
}

.input-button-group a,
.input-button-group button,
.input-button-group input,
.input-button-group select {
  margin: 0;
  margin-bottom: 0 !important;
}

.input-button-group input,
.input-button-group select {
  margin-right: 10px;
}

.card-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card {
  width: 250px;
  padding: 1.5rem 1rem;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 1px solid transparent;
  height: 95%;
}

.card-preview {
  margin-right: 0px;
}

.red {
  border-color: #c62828;
  color: #c62828;
}

.card h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  flex-grow: 1;
  align-items: center;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 20px;
}

.card:hover {
  border: 1px solid var(--primary);
}

.tx {
  margin-bottom: 2em;
}

.txId {
  font-family: monospace;
  margin-right: 10px;
}

.no-style {
  color: inherit;
  text-decoration: inherit;
}

.container,
main {
  margin-top: 0;
  padding-top: 0;
}

.container {
  max-width: 800px !important;
}

.rounded-circle {
  border-radius: 50%;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-2 {
  margin-top: 2em;
}

.mono {
  font-family: monospace;
}

.accent-border {
  border: 1px solid var(--primary);
}

.small-button {
  font-size: 0.8rem;
  font-weight: bold;
}

.no-break {
  display: flex;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.cards {
}

.emphasis {
  font-weight: 600;
  color: var(--primary);
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

.group-badge {
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
  padding: 0.3rem 0.75rem;
  border: 1px solid var(--primary);
  border-radius: 100px;
  color: var(--primary);
  font-size: 0.7rem;
  white-space: nowrap;
}

.group-badge.small {
  font-size: 0.4rem;
}

.no-margin {
  margin: 0px;
}

.command-badge {
  display: inline-flex;
  font-size: 0.7rem;
  vertical-align: middle;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--color);
  border-radius: 5px;
  padding: 3px 8px;
}

.command {
  font-family: monospace;
  margin-left: 8px;
}

.important {
  background: yellow;
  border: 0;
  color: black;
}

.home-page-padding {
  padding-left: 8rem;
  padding-right: 8rem;
}

@media all and (max-width: 768px) {
  .home-page-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
