/* Write your global styles here, in PostCSS syntax */

/* for seasonal fun
:root {
  --clr-primary-main: #ff9a00 !important;
  --clr-primary-badge: #000000 !important;
  --clr-tertiary-main: #000000 !important;
}
*/