/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import "@picocss/pico";

/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #35d9ba;
  --primary-hover: #248f7a;
  --primary-focus: rgba(56, 232, 198, 0.125);
  --primary-inverse: #fff;
}

/* Green Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #38e8c6;
    --primary-hover: #12bf9d;
    --primary-focus: rgba(56, 232, 198, 0.125);
    --primary-inverse: #fff;
  }
}

/* Green Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00ee8a;
  --primary-hover: #00ce78;
  --primary-focus: rgba(56, 232, 198, 0.125);
  --primary-inverse: #fff;
}

/* Green (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  max-width: 800px !important;
}
footer {
  flex-shrink: 0;
}

article {
  margin: 20px 0;
}

button {
  font-weight: bold;
  margin-bottom: 0;
}

hr {
  margin-bottom: var(--spacing);
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

.input-button-group {
  display: flex;
}

.input-button-group a,
.input-button-group button,
.input-button-group input {
  margin: 0;
  margin-bottom: 0 !important;
}

.input-button-group input {
  margin-right:10px;
}

.card-container {
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items:stretch;
}

.card {
  width: 250px;
  padding: 1.5rem 1rem;
  text-align:center;
  margin-right: 10px;
  margin-bottom: 10px;
  display:inline-flex;
  flex-direction:column;
  justify-content:end;
  align-items:center;
  border:1px solid transparent;
  height:95%;
}

.card-preview {
  margin-right: 0px;
}

.card h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  flex-grow:1;
  align-items:center;
}

.card img {
    display:block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 100px;
    margin-bottom: 20px;
}

.card:hover {
  border: 1px solid var(--primary);
}

.tx {
  margin-bottom: 2em;
  
}
.txId {
  font-family:monospace;
  margin-right:10px;
}

.no-style {
  color:inherit;
  text-decoration:inherit;
}

.container,
main {
  margin-top: 0;
  padding-top: 0;
}
.rounded-circle {
  border-radius: 50%;
}

.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-2 {
  margin-top: 2em;
}

.mono {
  font-family: monospace;
}

.accent-border {
  border: 1px solid var(--primary);
}

.small-button {
  font-size: 0.8rem;
  font-weight: bold;
}

.no-break {
  display:flex;
}

.text-center {
  text-align:center;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.mx-auto {
  margin-left: auto;
  margin-right:auto;
}

.cards {
  
}

.emphasis {
  font-weight: 400;
  color: var(--primary);
}

.error {
  background-color: red;
  border-color: white;
  color: white;
  opacity: 1;
}